{
  "gui" : {
    // "background" : {
    //   "zlevel" : 0,
    //   "type" : "background",
    //   "fileHeader" : "/interface/scripted/sbvn/header.png",
    //   "fileBody" : "/interface/scripted/sbvn/body.png",
    //   "fileFooter" : "/interface/scripted/sbvn/footer.png"
    // },

    "input" : {
      "zlevel" : 0,
      "type" : "canvas",
      "rect" : [0, 0, 0, 0],
      "captureMouseEvents" : false,
      "captureKeyboardEvents" : true
    }
  },

  // "scriptWidgetCallbacks" : [],
  // "canvasClickCallbacks" : {
  //   "cvsOverlay" : "canvasClickEvent"
  // },
  "canvasKeyCallbacks" : {
    "input" : "keyEvent"
  },

  "scripts" : ["/interface/scripted/vsocontrols/vsocontrols.lua"],
  "scriptDelta" : 2
}
